<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Plants Care </title>

    <link rel="shortcut icon" href="../static/login_assets/images/fav.jpg">
    <link rel="stylesheet" href="../static/login_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login_assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/login_assets/css/style.css" />
</head>

<body>
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                
                <div class="col-sm-10 login-box">
                    <div class="row">

                        <div class="col-lg-8 col-md-7 log-det">
                            <div class="small-logo">
                                <i class="fab fa-pagelines"></i> Plants Care
                            </div>
                            <h2>Create Account</h2>
                            

                            <div class="text-box-cont">
                                <form action="{{ url_for('register') }}" method="post">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="Firstname" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="Lastname" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="far fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control" name="Email" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="Username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                     
                                     <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="Password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="ditk-inf sup-oi">
                                        <p>{{ msg }}</p>
                                    </div>
                                    
                                    <div class="input-group center sup mb-3">
                                        <button type="submit" class="btn btn-success btn-round">SIGN UP</button>
                                    </div> 
                                </form>  
                            </div>
                            


                        </div>
                        <div class="col-lg-4 col-md-5 box-de">
                            
                             <div class="ditk-inf sup-oi">
                                 <h2 class="w-100">Already Have an Account ?</h2>
                                 <p>Simply login to your account by clicking the Sign In Button</p>
                                 <a href="{{ url_for('login') }}">
                                     <button type="button" class="btn btn-outline-light">SIGN IN</button>
                                 </a>
                             </div>
                         </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../static/login_assets/js/jquery-3.2.1.min.js"></script>
<script src="../static/login_assets/js/popper.min.js"></script>
<script src="../static/login_assets/js/bootstrap.min.js"></script>
<script src="../static/login_assets/js/script.js"></script>


</html>
